[Unit]
Description=Track internet access and WAN IP status
After=network-online.target

[Service]
ExecStart=/<path to>/wanstatus
#User=<yourusername>

[Install]
WantedBy=multi-user.target
