# wanstatus config file
#  211111  V1.2 adjustments

LoggingLevel        30                      # Logging module levels: 10:DEBUG, 20:INFO, 30:WARNING (default), 40:ERROR, 50:CRITICAL
nRetries            3
StatusRecheckPeriod 60                      # Wait time in seconds between main loops
OutageRecheckPeriod 5                       # Wait time in seconds for recheck during outage
ExternalWANRecheckPeriod 3600               # Wait time in seconds for checking WANIPWebpage web page


# Check Internet Access
PublicDNSpage	    8.8.8.8                 # Google DNS (google-public-dns-a.google.com)
#PublicDNSpage	    8.26.56.26              # Comodo Secure DNS
PublicDNSport	53
PublicDNSTimeout    1                       # In seconds


# Check Modem Status
# Comment out ModemWebpage to disable modem status check
# Modem response (Cisco):
#	<td headers="CableModemStatus" class="stdbold" nowrap>
#  		<script language="javascript" type="text/javascript">dw(vcm_operational);</script>
#   </TD>
ModemWebpage        http://192.168.100.1/Docsis_system.asp
ModemWebpageRE      <td headers="CableModemStatus" class="stdbold" nowrap>\s*<script language="javascript"\s*type="text\/javascript">dw\((\w+)\);<\/script>\s*<\/TD>
ModemWebpageUpState vcm_operational
ModemTimeout        3                       # In seconds


# Check WAN IP according to the router
# Comment out RouterWebpage to disable WAN IP change check
RouterWebpage	    http://192.168.1.1/Info.live.htm        # dd-wrt basic/parsable info page
RouterWebpageRE	    {wan_ipaddr::([\d]+\.[\d]+\.[\d]+\.[\d]+)\/\d+}
#RouterWebpage	    http://192.168.1.1/                     # dd-wrt rendered Sys-Info status page
#RouterWebpageRE    <span id="ipinfo">&nbsp;IP: ([\d]+.[\d]+.[\d]+.[\d]+)</span>
RouterWebpage       http://pfsense.localdomain/index.php    # pfSense
RouterWebpageRE     <td.+title="via.dhcp">\s+([\d]+\.[\d]+\.[\d]+\.[\d]+)<br \/>
import              ~/creds_wanstatus                       # Provides Router_USER, Router_PASS
RouterTimeout       3			                    # In seconds
WANIPFile           WANIP.txt                               # History file


# Check WAN IP according to an external web page
# Comment out WANIPWebpage to disable external WAN IP check
#WANIPWebpage       https://ipapi.co/ip/    
WANIPWebpage        https://httpbin.org/ip
WANIPWebpageRE	([\d]+\.[\d]+\.[\d]+\.[\d]+)  # Works for both https://ipapi.co/ip/ and https://httpbin.org/ip
WANIPWebpageTimeout    5                    # In seconds


# Email and Notification params
EmailServer	    mail.example.com        # No port number attached
EmailServerPort	P587TLS			    # Required:  P465, P587, P587TLS, or P25
EmailFrom	    your.email@gmail.com
import              ~/creds_SMTP            # Define EmailUser and EmailPass for SMTP login to your server
#EmailVerbose       True                    # True: enable the emailer debug level
#DontEmail          True                    # True: Emails (including notifications) will NOT be sent
#DontNotif          True                    # True: Notifications will NOT be sent

NotifList           4805551234@vzwpix.com   # One or more, space separated.  Use your carrier's email-to-text bridge address.  Regular email addresses may be used.  Don't define to disable notifications
EmailTo	            your.email@gmail.com    # One or more, space separated.  Don't define to disable emails
