# wanstatus config file - DEV VERSION V2.2

LogLevel    	          20          # Logging module levels: 10:DEBUG, 20:INFO, 30:WARNING (default), 40:ERROR, 50:CRITICAL
LogFile                   log_wanstatus.txt
nRetries                  2
StatusRecheckPeriod       10s #5m     # Wait time between main loops
OutageRecheckPeriod       5s          # Wait time for recheck during outage
RecoveryDelay             30s         # Wait time after internet access recovery before notification and regular looping
ExternalWANRecheckPeriod  1h          # Wait time for checking WANIPWebpage web page


#=================================================================
# Check Internet Access
IACheckMethod             dns         # "Ping", or "DNS" (case insensitive)
IAPingAddrs               cjnaz.com yahoo.com
IAPingMaxTime	          200         # value in ms

IADNSAddrs                68.105.29.16  8.8.8.8   # Cox primary, then Google
# 8.26.56.26                          # Comodo Secure DNS
# 68.105.29.16                        # Cox secondary
# 69.111.106.68                       # Bogus DNS server for testing

IADNSTimeout              3s


#=================================================================
# Check Modem Status
# Comment out ModemStatusPage to disable modem status check
import                    ~/creds_wanstatus   # Provides Router_USER, Router_PASS, Modem_USER, Modem_PASS
ModemTimeout              15s

# --------------  Cisco DPC33010  --------------
# No login required
# Modem status response:
#	<td headers="CableModemStatus" class="stdbold" nowrap>
#  		<script language="javascript" type="text/javascript">dw(vcm_operational);</script>
#   </TD>
#ModemStatusPage     	 http://192.168.100.1/Docsis_system.asp
#ModemStatusRE           <td headers="CableModemStatus" class="stdbold" nowrap>\s*<script language="javascript"\s*type="text\/javascript">dw\((\w+)\);<\/script>\s*<\/TD>
#ModemStatusUpState      vcm_operational


# --------------  Motorola MB7621  --------------
# Login required, stateless
# Modem status response:
#  <td class="moto-param-name">&nbsp;&nbsp;&nbsp;Online</td>
#  <td class="moto-param-value">Connected</td>

#ModemLoginPage           http://192.168.100.1/goform/login
#ModemLoginRequiredText   <title>Motorola Cable Modem : Login</title>
#ModemLoginUsernameField  username                   # Don't define if no login required
#ModemLoginPasswordField  password

#ModemStatusPage         http://192.168.100.1/MotoHome.asp
#ModemStatusRE           <td class="moto-param-name">&nbsp;&nbsp;&nbsp;Online<\/td>\s*<td class="moto-param-value">([\s\w]+)<\/td>
#ModemStatusUpState      Connected


# --------------  Cox CGM4140COM Gateway mode --------------
# Session login required
# Modem status response (picking up locked status of first channel only):
#  <td class="row-label acs-th"><div style="width: 100px">Downstream</div></td>
# ...	
#  <th class="row-label ">Lock Status</td>
#  <td><div style="width: 100px">Locked</div></td><td><div style="width: 100px">Locked</div>

ModemLoginPage           http://192.168.0.1/check.jst
ModemLoginRequiredText   <script type="text/javascript">alertLoc("Please Login First!"); location.href="home_loggedout.jst";</script>
ModemLoginUsernameField  username
ModemLoginPasswordField  password

# ModemStatusPage          http://192.168.0.1/network_setup.jst
ModemStatusRE            Downstream</div></td>(?:(?!Lock Status)[\s\S])*?Lock Status<\/td>\s+<td><div style="width: 100px">([ \w]+)<\/div>
ModemStatusUpState       Locked


#=================================================================
# Check WAN IP according to the router
# Comment out RouterStatusPage to disable WAN IP change check
RouterTimeout              3s
WANIPFile                  /mnt/share/dev/packages/wanstatus/src/wanstatus/hack/WANIP.txt


# --------------  dd-wrt  --------------
# RouterStatusPage         http://192.168.1.1/Info.live.htm
# RouterStatusRE           {wan_ipaddr::([\d]+\.[\d]+\.[\d]+\.[\d]+)\/\d+}


# --------------  pfSense  --------------
###RouterLoginPage         No specific loging page required.  Uses RouterStatusPage
RouterLoginRequiredText   <title>CSRF Error</title>
RouterLoginUsernameField  usernamefld
RouterLoginPasswordField  passwordfld
RouterLoginAdditionalKeys login : Login, '__csrf_magic' : "None"
RouterCsrfRE              csrfMagicToken = "(.*)";var

RouterStatusPage          http://pfsense.cjn.lan/index.php
RouterStatusRE            <td.+title="via.dhcp">\s+([\d]+\.[\d]+\.[\d]+\.[\d]+)


# --------------  Cox Technicolor CGM4140COM Gateway mode --------------
#RouterLoginPage            http://192.168.0.1/check.jst
#RouterLoginRequiredText    <script type="text/javascript">alertLoc("Please Login First!"); location.href="home_loggedout.jst";</script>
#RouterLoginUsernameField   username
#RouterLoginPasswordField   password

#RouterStatusPage           http://192.168.0.1/connection_status.jst
#RouterStatusRE             <span class="readonlyLabel" id="waniploc">WAN IP Address:<\/span> <span class="value">\s*([\d]+\.[\d]+\.[\d]+\.[\d]+)\s*<\/span>


#=================================================================
# Check WAN IP according to an external web page
# Comment out WANIPWebpage to disable external WAN IP check
# WANIPWebpage             https://ipapi.co/ip/
# WANIPWebpageRE           <span>Your IP<\/span>: ([\d]+\.[\d]+\.[\d]+\.[\d]+)<\/span>
WANIPWebpage               https://httpbin.org/ip
WANIPWebpageRE             ([\d]+\.[\d]+\.[\d]+\.[\d]+)	# Works for both https://ipapi.co/ip/ and https://httpbin.org/ip
WANIPWebpageTimeout        5s


#=================================================================
# Email and Notification params
import                    ~/creds_SMTP_cox       # Provides EmailServer, EmailServerPort, EmailFrom, EmailUser and EmailPass
#EmailVerbose             True                   # True: enable the emailer debug level
DontEmail                True                   # True: Emails (including notifications) will NOT be sent
#DontNotif                True                   # True: Notifications will not be sent
NotifList                 4802289197@vzwpix.com  # One or more, space separated.  Use your carrier's email-to-text bridge address.  Regular email addresses may be used.  Don't define to disable notifications
#EmailTo                  cjncjnaz@gmail.com	 # One or more, space separated.  Don't define to disable emails
