[Unit]
Description=Track internet access and WAN IP status
After=network-online.target

[Service]
ExecStart=/home/me/.local/bin/wanstatus --service
User=me

[Install]
WantedBy=multi-user.target
